/* Styling the cookie consent text */
#cookie-consent {
  font-size: 15px;
  line-height: 35px;
}

/* Styling the cookie consent button */
#cookie-consent #consent{
  margin: 5px;
  background-color: dodgerblue;
  color: #fff;
  padding: 13px;
  font-size: 14px;
}

#cookie-consent #learn-more {
  font-size: 15px;
}

/* Styles for main container card body */
.pricing-container .card-body .row {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
}

.pricing-container .card-body .row > div{
  border-top: 2px solid #3699FF;
  margin: 0 20px;
}

.primary-footer .nav {
  justify-content: center;
}

.primary-footer a {
  font-size: 15px;
}

.primary-footer .copyright {
  text-align: center;
}
/* End of styles for main container card body */

/* Giving margin bottom for container inorder
  to separate it from footer */
.container-fluid {
  margin-bottom: 3rem !important;
}

/* Aligning user name to middle */
#PdfDownload .pb2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Aligning transaction amount message to center */
#PdfDownload .pb-2.col-md-6 {
  width: 100%;
  margin: auto;
}

/* Aligning transaction summary text to center */
.alert.alert-info {
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

/* Aligning table to center */
table {
  width: 100%;
  margin: auto;
}

/* Giving space between table data in each table row */
table tr {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

/* Making the text bolder */
.font-weight-bold {
  font-weight: 800 !important;
}

/* Start of Transaction Result styles */

  /* Outer card which contains the all the information */
  .transaction-card {
    margin: 4rem auto 1rem auto;
    width: 700px;
    padding: 3rem;
    border-radius: 10px;
    border: 2px solid #ddd;
  }

  .company-text {
    font-size: 22px;
    text-align: center;
  }

  .transaction-card h3 {
    margin: 10px 0;
    color: #1f1e1e;
  }

  .font-bold {
    font-weight: bold;
  }

  .transaction-outline {
    font-size: 18px;
    color: #6e6c6c;
    margin-bottom: 20px;
  }

  .transaction-outline .text-success {
    color: #4edf10 !important;
  }

  .transaction-outline .text-danger {
    color: #e3441c !important;
  }

  /* Making transaction id look a little bolder */
  .transaction-outline .transaction-id {
    font-weight: bold;
    color: #202020;
  }

  /* Transaction info container is made to display in a single row
    with space between each information group. */
  .transaction-info-container {
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
  }

  /* Each transaction info group is displayed in column format.
    eg. Payment Request Date
            06-01-2021
            00:55:10
  */
  .transaction-info-container .transaction-info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5e5b5b;
  }

  /* Each title in information group is bolded. */
  .transaction-info-group .info-title {
    color: #39393b;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .transaction-info-group, .summary-text {
    font-size: 17px;
  }

  .summary-text {
    font-weight: bold;
    color: #202020;
    margin: 22px 0;
  }

  /* Each summary item group is displayed in a single row
    with space between */
  .summary-card .summary-item-group {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 1.5rem;
    background-color: #e6e6e6;
    border-radius: 4px;
    margin-top: 5px;
  }

  /* All first child in summary item group is bolded. */
  .summary-item-group > :first-child {
    font-weight: bold;
    padding-right: 10px;
  }

  /* All last child in summary item group is aligned to right. */
  .summary-item-group > :last-child {
    text-align: right;
  }

  .bg-success {
    background-color: #62ff54 !important;
  }

  .bg-danger {
    background-color: #ff5d35 !important;
  }

  .button-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 700px;
    padding: 5px 1rem 1rem 1rem;
    margin: 0 auto;
  }

  /* Styling the print reciept button */
  .button-group button {
    background-color: dodgerblue;
    color: #fff;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin: 8px;
  }

  #copy-tranx {
    color: dodgerblue;
    background-color: #fff;
  }

  #copy-tranx:hover {
    background-color: dodgerblue;
    color: #fff;
    transition: background-color .5s;
  }


  @media (max-width: 750px) {
    /* On devices with maximum width of 750px setting the width of 
      transaction card to 90% for good UI. */
    .transaction-card {
      width: 100%;
      padding: 2rem 1rem;
    }

    /* Group in transaction info container are displayed in column format
      and each column is left aligned.
      eg. Bank Ref no
          3343434
          
          Payment Request Date
          06-01-2021
          00:55:10
      */
    .transaction-info-container {
      flex-direction: column;
      align-items: flex-start;
    }

    /* Except the last child of transaction info container, rest
    of the groups are given a bottom margin */
    .transaction-info-container > :not(:last-child) {
      margin-bottom: 18px;
    }

    /* Span element in the transaction info group is also left aligned. */
    .transaction-info-group span{
      align-self: flex-start;
    }

    .company-text {
      margin-bottom: 15px;
    }

    .button-group {
      width: 100%;
    }
  }

  @media (max-width: 500px) {
    /* Adding ':' to all first child of summary item group */
    .summary-item-group >:first-child:after {
      content: ': ';
    }
  }

/* Transaction Result styles ends */

/* Custom styles for our services */
.our-services {
  width: 70%;
  margin: 3rem auto;
  padding: 10px;
}

.our-services h6, h3 {
  font-family: 'poppins';
  text-align: center;
}

.our-services h6 {
  font-size: 18px;
  color: #104CBA;
  font-weight: 600;
  padding-bottom: 1rem;
}

.our-services h3 {
  font-size: 36px;
  color: #000;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.services-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 1.5rem;
  justify-items: center;
}

.service-card {
  position: relative;
  width: 100%;
  height: 360px;
  margin: 20px 20px 50px 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px 0px rgb(42 22 139 / 12%);
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-card .service-img-container {
  text-align: center;
}

.service-img-container img {
  width: 250px;
  height: 200px;
  box-sizing: border-box;
}

.service-img-container img:hover {
  transition: all .35s cubic-bezier(.38, 3, .57, 1.6);
  transform: scale(1.05);
}

.service-card h6 {
  font-size: 18px;
  font-weight: 600;
  color: #010101;
  line-height: 32px;
  letter-spacing:  0px;
}

.service-card .description {
  font-size: 16px;
  line-height: 25px;
  color: #696969;
  font-weight: 400;
  text-align: center;
}

.service-card .card-no {
  position: absolute;
  background: linear-gradient(to right, #ff3834 0%, #ff7133 100%);
  color: #fff;
  width: 61px;
  height: 61px;
  font-size: 16px;
  font-weight: 600;
  line-height: 61px;
  padding: 0 15px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  box-shadow: 0 0 20px rgb(216 181 183 / 30%);
  transform: translate3d(0px, 0px, 0px);
  bottom: -75px;
}

.service-card .card-no:hover {
  background: #2f0b81;
  background: -moz-linear-gradient(left, #2f0b81 0%, #0c56c4 100%);
  background: -webkit-linear-gradient(left, #2f0b81 0%, #0c56c4 100%);
  background: linear-gradient(to right, #2f0b81 0%, #0c56c4 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f0b81', endColorstr='#0c56c4', GradientType=1); */
  color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  box-shadow: 0px 0px 15px rgb(127 25 33 / 30%);
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 600px) {
  .our-services {
    width: 100%;
  }
}

/* End of c2c services styles */