/* Styling the cookie consent text */
#cookie-consent {
  font-size: 15px;
  line-height: 35px;
}

/* Styling the cookie consent button */
#cookie-consent #consent{
  margin: 5px;
  background-color: dodgerblue;
  color: #fff;
  padding: 13px;
  font-size: 14px;
}

#cookie-consent #learn-more {
  font-size: 15px;
}

/* Giving margin bottom for container inorder
  to separate it from footer */
.container-fluid {
  margin-bottom: 3rem !important;
}

/* Aligning user name to middle */
#PdfDownload .pb2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Aligning transaction amount message to center */
#PdfDownload .pb-2.col-md-6 {
  width: 100%;
  margin: auto;
}

/* Aligning transaction summary text to center */
.alert.alert-info {
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

/* Aligning table to center */
table {
  width: 100%;
  margin: auto;
}

/* Giving space between table data in each table row */
table tr {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

/* Making the text bolder */
.font-weight-bold {
  font-weight: 800 !important;
}


/* Aligning the button to center */
.container-fluid button {
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  color: #fff;
}

/* Start of Transaction Result styles */

  .transaction-card {
    margin: auto;
    width: 700px;
    padding: 3rem;
    border-radius: 10px;
    border: 2px solid #ddd;
  }

  .company-text {
    font-size: 22px;
    text-align: center;
  }

  .transaction-card h3 {
    margin: 10px 0;
    color: #1f1e1e;
  }

  .font-bold {
    font-weight: bold;
  }

  .transaction-outline {
    font-size: 18px;
    color: #6e6c6c;
    margin-bottom: 20px;
  }

  .transaction-outline .text-success {
    color: #4edf10 !important;
  }

  .transaction-outline .transaction-id {
    font-weight: bold;
    color: #202020;
  }

  .transaction-info-container {
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
  }

  .transaction-info-container .transaction-info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5e5b5b;
  }

  .transaction-info-group .info-title {
    color: #39393b;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .transaction-info-group, .summary-text {
    font-size: 17px;
  }

  .summary-text {
    font-weight: bold;
    color: #202020;
    margin: 22px 0;
  }

  .summary-card .summary-item-group {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 1.5rem;
    background-color: #e6e6e6;
    border-radius: 4px;
    border-bottom: 1.5px solid #868686;
  }

  .summary-item-group > :first-child {
    font-weight: 600;
  }

  .bg-success {
    background-color: #4ce93d !important;
  }

  .print-reciept {
    margin-top: 12px;
    background-color: dodgerblue;
    color: #fff;
    border: 0;
    border-radius: 8px;
    padding: 1rem;
    font-size: 16px;
    cursor: pointer;
  }

  @media (max-width: 750px) {
    .transaction-card {
      padding: 1.3rem;
      width: 90%;
    }

    .transaction-info-container {
      flex-direction: column;
      align-items: flex-start;
    }

    .transaction-info-container > :not(:last-child) {
      margin-bottom: 18px;
    }

    .transaction-info-group {
      align-items: flex-start !important;
    }

    .company-text {
      margin-bottom: 15px;
    }

    .summary-item-group {
      flex-wrap: wrap;
    }
  }

/* Transaction Result styles ends */


/* On Medium large devices increasing 
  the transaction reciept width */
@media (min-width: 768px) {
  #PdfDownload .col-md-6 {
    -webkit-box-flex: 0;
    max-width: 70%;
  }
}